<div fxLayout="column">
    <h1 class="align-center">Welcome to the Contact Us page.</h1>
</div>

<div fxLayout="row wrap">
    <div fxFlex>
        <mat-card class="mat-elevation-z0">
            <mat-card-title class="card-title-icon">
                <mat-icon color="primary">navigation</mat-icon>
            </mat-card-title>
            <br />

            <mat-card-content class="align-center">
                <p>
                    505 Main Street
                </p>
                <p>
                    Omaha, Nebraska
                </p>
            </mat-card-content>

        </mat-card>
    </div>

    <div fxFlex>
        <mat-card class="mat-elevation-z0">
            <mat-card-title class="card-title-icon">
                <mat-icon color="primary">phone</mat-icon>
            </mat-card-title>
            <br />

            <mat-card-content class="align-center">
                <p>
                    Direct: 555-555-5555
                </p>
                <p>
                    Toll-Free: 1-888-555-5555
                </p>
                <p>
                    Fax: 555-555-5555
                </p>
            </mat-card-content>

        </mat-card>
    </div>
</div>
<br /><br /><br /><br />

<div fxLayout="column">
    <p style="text-align: center;">
        Visit us online or at one of our many great locations throughout the Omaha metro area.
    </p>
</div>