<div fxLayout="column">
    <h1 class="align-center">Welcome to the About Us page.</h1>
</div>
<br />

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Leo a diam sollicitudin tempor
    id eu nisl nunc mi. Purus ut faucibus pulvinar elementum. Tellus in hac habitasse platea dictumst. Fringilla urna porttitor rhoncus dolor purus non enim
    praesent. Vel pretium lectus quam id leo in. Ut faucibus pulvinar elementum integer enim neque. Imperdiet proin fermentum leo vel orci porta non pulvinar.
    Scelerisque in dictum non consectetur a erat nam. Sit amet nulla facilisi morbi tempus iaculis urna id volutpat.
</p>

<p>
    Sociis natoque penatibus et magnis. Integer malesuada nunc vel risus. Elementum tempus egestas sed sed risus pretium. Nam at lectus urna duis convallis
    convallis tellus id interdum. Fermentum leo vel orci porta non pulvinar neque laoreet. Ridiculus mus mauris vitae ultricies leo. Sed libero enim sed
    faucibus turpis in eu mi bibendum. Venenatis a condimentum vitae sapien pellentesque habitant morbi tristique. Sollicitudin aliquam ultrices sagittis orci.
    Hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit. Sem viverra aliquet eget sit amet tellus cras adipiscing enim. Quis risus sed
    vulputate odio ut enim blandit volutpat. Amet commodo nulla facilisi nullam vehicula.
</p>

<p>
    Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus. Fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate. Viverra
    tellus in hac habitasse platea. Adipiscing diam donec adipiscing tristique risus. Sem integer vitae justo eget. Auctor elit sed vulputate mi sit amet mauris
    commodo quis. Ut diam quam nulla porttitor massa id neque aliquam. A cras semper auctor neque vitae. Eleifend quam adipiscing vitae proin sagittis nisl.
    Fames ac turpis egestas maecenas pharetra convallis posuere morbi leo. Curabitur vitae nunc sed velit. Vestibulum lorem sed risus ultricies tristique nulla
    aliquet enim tortor. Nec feugiat in fermentum posuere urna.
</p>