@import "./theme";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.align-center {
  text-align: center;
}

.attribution-link {
  text-decoration: none;
  color: white;
}
.attribution-link:hover {
  text-decoration: underline;
}

.card-title-icon {
  text-align: center;
}
.card-title-icon,
.mat-icon {
  // font-size: 72px;
  font-size: 36px;
}

// -------- Ravenclaw Colors --------

.ravenclaw-dark-blue {
  color: #0e1a40;
}
.ravenclaw-blue {
  color: #222f5b;
}
.ravenclaw-grey-lady {
  color: #bebebe;
}
.ravenclaw-gold {
  color: #946b2d;
}
